POSTGRES_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

DISCORD_KEY=
DISCORD_WEBHOOK_URL=
BOT_MASTER_ID=

EASTER_EGG_REGEX=
EASTER_EGG_AUTHOR_ID=
EASTER_EGG_LINK_OPTIONS=

EASTER_EGG2_USER_ID=
EASTER_EGG2_CONTENT=